<div class="customFooter mb-2">
  <div class="row">
    <div class="col-md-2">
      <img src="assets/logo.png" alt="" class="img-fluid ">
    </div>
    <div class="col-md-4">
      <h5>About Us</h5>
      <p class="myPara">
        DreamHome is a new home rental platform that makes it easier to find your new home
        without paying any brokerage.
      </p>
    </div>
  <div class="col-md-4">
    <h5>Contact Us</h5>
    <div class="tool"><h5 class="text-center"><img src="assets/email-icon.png" width="50px"></h5>
      <span class="tooltext">tssule3@gmail.com</span>
    </div>
    <div class="tool"><h5 class="text-center">
      <img src="assets/call.png" alt="" width="50px">
    </h5>
      <span class="tooltext">+917020957791</span>
    </div>
  </div>
  </div>
</div>
