
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h5>Parent Component</h5>

      <div class="parent" *ngIf="showParentDiv">
        <button class="btn btn-primary" (click)="toggleChild()">
          Toggle Child Property</button>
      </div>
    </div>

    <div class="col-md-6">
      <app-child [showChildDiv]="toggleChildFromParent"
                 (toggleParentFromChild)="changeParentProp($event)" (informParent)="informationFromChild($event)"></app-child>
    </div>
  </div>
</div>
