.customCarousel{

  width: 300px;

  background-color: rgba(128, 128, 128, 0.28);
}
.customIcon{
  background-color: rgba(128, 128, 128, 0.47);
}
.customSlider{

  height: 400px;
}
.customPrev{
  background-color: gray;
}
