<div id="demo" class="carousel slide carousel-inner" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
  </ul>

  <!-- The slideshow -->
  <div>
    <div class="carousel-item active">
      <img src="../../assets/11.jpg" alt="Los Angeles"  width="400px">
    </div>
    <div class="carousel-item">
      <img src="../../assets/22.jpg" alt="Chicago"  width="400px">
    </div>
    <div class="carousel-item">
      <img src="../../assets/33.jpg" alt="New York"  width="400px">
    </div>
    <div class="carousel-item">
      <img src="../../assets/44.jpg" alt="New York"  width="400px">
    </div>
  </div>

  <!-- Left and right controls -->

</div>
