.container{
  color: gray;
}
.one{

  background-color: rgba(21, 80, 255, 0);
  height: 100px;
}
.two{
  background-color: rgba(255, 20, 115, 0);
  height: 100px;


}
.three{
  background-color: rgba(128, 128, 128, 0);
  height: 100px;

}
.four{
  background-color: rgba(184, 134, 11, 0);
  height: 100px;

}
.customBtn{
  /*background-color: rgba(211, 211, 211, 0);*/
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 35px;
}
.customBtn:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.36), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.customBtn1{
  width: 50%;
  margin-left: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.customBtn1:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.36), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.customRow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
