<div class="container" *ngIf="showSearchComponent">
  <br>
  <h2 class="text-center mt-5 heading">World's Largest NoBrokerage Property Site</h2>
  <div class="container">
    <h5 class="text-center heading">10 Lac+ House Owners & Seekers Connected Every Month</h5>
  </div>
  <br>

  <div class="row customRow">
    <div class="col-md-2">
      <div class="one"><br>
        <select class="customBtn" (change)="setCity($event)">
          <option value="city">Select City</option>
          <option value="pune">Pune</option>
          <option value="mumbai">Mumbai</option>
          <option value="nagpur">Nagpur</option>
          <option value="delhi">Delhi</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="two"><br>
        <select class="customBtn">
          <option value="bhk">Any BHK</option>
          <option value="one">1RK</option>
          <option value="two">1BHK</option>
          <option value="three">2BHK</option>
          <option value="four">3BHK</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="three"><br>
        <form action="" class="customBtn">
          <input type="text" class="form-control" placeholder="Search Locality Or Landmark">
        </form>
      </div>

    </div>
    <div class="col-md-2">
      <div class="four"><br>

        <button routerLink="/{{city}}" class="btn btn-primary customBtn" [disabled]="hideSearchBtn" data-toggle="dropdown"
                (click)="hideSearchComponent()">
          Search <i class="fa fa-search"></i>
        </button>


      </div>
    </div>
  </div>

</div><br>
<div class="container customRow" *ngIf="showSearchComponent">
  <h5 class="text-center">Are You A House Owner?</h5>
  <button class="btn btn-secondary customBtn1">Post Your Free Ad</button>
  <br> <br>
</div>
