.center{

}
.left{
  background-color: rgba(128, 128, 128, 0);
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.left:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*-ms-transform: scale(1.05); !* IE 9 *!*/
  /*-webkit-transform: scale(1.05); !* Safari 3-8 *!*/
  /*transform: scale(1.05);*/
}
.main{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*-ms-transform: scale(1.05); !* IE 9 *!*/
  /*-webkit-transform: scale(1.05); !* Safari 3-8 *!*/
  /*transform: scale(1.05);*/

}
.right{
  width: auto;
  height: 300px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.customList{


}
.customPara{
  width: 9em;
  margin: 5px;
  background-color: rgba(240, 248, 255, 0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}
.customPara:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: rgb(255, 20, 115);
}
.customImg{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.customImg:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
}
.btns{
  width: 5.2em;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.btns:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: rgb(255, 20, 115);
}
.customBox{
  /*width: 195px;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.customBox:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.btns1{
  background-color: rgba(0, 0, 0, 0);
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;

}
.btns1:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: rgb(255, 20, 115);
}
.btns2{
  color: rgba(0, 0, 0, 0.17);
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 5px;
}
.btns2:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.customListElement{
  margin-top: 5px;
  margin-left: 5px;
  font-weight: bold;
  list-style: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.51);
}
.customListElement:hover{
  color: rgb(255, 20, 115);
}
.customListSpan{
  font-weight: normal;
  font-size: small;
}
.customIcon{
  color: rgba(128, 128, 128, 0.49);
}


/*slider*/
.slidecontainer {
  width: 90%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 30px;
  border-radius: 15%;
  background: #ff1473;
  cursor: text;
}

.slider::-moz-range-thumb {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ff1473;
  cursor: pointer;
}
.slideInput{
  width: 70px;
  box-shadow: 0 4px 8px 0 rgba(240, 248, 255, 0.1), 0 6px 20px 0 rgba(240, 248, 255, 0.11);
}
.slideInput:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rightSide{
  margin-left: 70px;
}

.lease{
  margin-left: 5px;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 0, 0, 0);
  color: #ff1473;
  cursor: default;
  font-size: 10px;
}

.advFilterBtn{
  margin-right: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.advFilterBtn:hover{
  background-color: rgba(211, 211, 211, 0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.31), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
.advFilter{

}
.txt{
  font-size: 12px;
}
.bath{
  width: 15px;
  height: 15px;
}

.customCaret{
  font-size: 20px;
  color: gray;
}
.carousel-inner  {

}
.customSlider{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.16);

}
.customSlider:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.31), 0 6px 20px 0 rgba(0, 0, 0, 0.3);

}
.customPara1{
  margin-left: 50px;
}
